<div class="clearfix"></div>
<h1>SAFE YOURSELF FROM BEING HOMELESSNESS</h1>
<h2>Services which could help you in this situation</h2>
<div class="container">
  <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="lines-tab"
        data-toggle="tab"
        href="#lines"
        role="tab"
        aria-controls="lines"
        aria-selected="true"
        >Lines <i class="fa fa-phone" aria-hidden="true"></i
      ></a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="locate-tab"
        data-toggle="tab"
        href="#locate"
        role="tab"
        aria-controls="locate"
        aria-selected="false"
        >Locate <i class="fa fa-map-marker" aria-hidden="true"></i
      ></a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="chat-tab"
        data-toggle="tab"
        href="#chat"
        role="tab"
        aria-controls="chat"
        aria-selected="false"
        >Chat <i class="fa fa-comments" aria-hidden="true"></i
      ></a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="info-tab"
        data-toggle="tab"
        href="#info"
        role="tab"
        aria-controls="info"
        aria-selected="true"
        >Info <i class="fa fa-info" aria-hidden="true"></i
      ></a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="forum-tab"
        data-toggle="tab"
        href="#forum"
        role="tab"
        aria-controls="forum"
        aria-selected="false"
        >Forum <i class="fa fa-users" aria-hidden="true"></i
      ></a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="services-tab"
        data-toggle="tab"
        href="#services"
        role="tab"
        aria-controls="services"
        aria-selected="false"
        >Comunity Services <i class="fa fa-arrows" aria-hidden="true"></i
      ></a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="lines" role="tabpanel" aria-labelledby="lines-tab">
      <% services.forEach(serve => { if(serve.mode=="lines") { %>
      <div class="tabscontent">
        <h2><%- serve.name %></h2>
        <strong>Note</strong>
        <p><%- serve.summary %></p>
        <a href="tel:<%- serve.phone %>" class="btn-primary"
          ><i class="fa fa-phone" aria-hidden="true"></i> Call <%- serve.phone %>
        </a>
      </div>
      <% }}) %>
    </div>
    <div class="tab-pane fade" id="locate" role="tabpanel" aria-labelledby="locate-tab">
      <% services.forEach(serve => { if(serve.mode=="locate") {%>
      <div class="tabscontent">
        <h2><%- serve.name %></h2>
        <strong>Note</strong>
        <p><%- serve.summary %></p>
        <a href="<%- serve.website %>" class="btn-primary"
          ><i class="fa fa-map" aria-hidden="true"></i> Locate <%- serve.street %> <%- serve.state
          %> <%- serve.postcode %></a
        >
      </div>
      <% }}) %>
    </div>
    <div class="tab-pane fade" id="chat" role="tabpanel" aria-labelledby="chat-tab">
      <% services.forEach(serve => { if(serve.mode=="chat") {%>
      <div class="tabscontent">
        <h2><%- serve.name %></h2>
        <strong>Note</strong>
        <p><%- serve.summary %></p>
        <a href="<%- serve.website %>" class="btn-primary"
          ><i class="fa fa-chat" aria-hidden="true"></i> Chat <%- serve.website %></a
        >
      </div>
      <% }}) %>
    </div>
    <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
      <% services.forEach(serve => { if(serve.mode=="info") { %>
      <div class="tabscontent">
        <h2><%- serve.name %></h2>
        <strong>Note</strong>
        <p><%- serve.summary %></p>
        <a href="<%- serve.website %>" class="btn-primary"
          ><i class="fa fa-info-circle" aria-hidden="true"></i> Visit <%- serve.website %></a
        >
      </div>
      <% } }) %>
    </div>
    <div class="tab-pane fade" id="forum" role="tabpanel" aria-labelledby="forum-tab">
      <% services.forEach(serve => { if(serve.mode=="forum") {%>
      <div class="tabscontent">
        <h2><%- serve.name %></h2>
        <strong>Note</strong>
        <p><%- serve.summary %></p>
        <a href="<%- serve.website %>" class="btn-primary"
          ><i class="fa fa-info-circle" aria-hidden="true"></i> Visit <%- serve.website %></a
        >
      </div>
      <% } })%>
    </div>
    <div class="tab-pane fade" id="services" role="tabpanel" aria-labelledby="services-tab">
      <% services.forEach(serve => { if(serve.mode=="comunity") {%>
      <div class="tabscontent">
        <h2><%- serve.name %></h2>
        <strong>Note</strong>
        <p><%- serve.summary %></p>
        <a href="<%- serve.website %>" class="btn-primary"
          ><i class="fa fa-info-circle" aria-hidden="true"></i> Visit <%- serve.website %></a
        >
      </div>
      <% }})%>
    </div>
  </div>
</div>
